* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.task-tracker {
  padding: 1rem;  
}

.tasks .task {
  padding: 0 0.5rem;
  background-color: rgba(164, 164, 171, 0.282);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 2rem;
  border-left: 5px solid transparent;
  border-bottom: 1px solid rgba(197, 197, 197, 0.753);
  cursor: pointer;
  user-select: none;
  position: relative;
}

.tasks .task .icon-group {
  display: block;
  width: 3.6rem;
  flex-basis: 3.6rem;
}

.tasks .task .icon{
  position: absolute;
  transform: translateY(-50%);
  right: 2rem;
  top: 50%;
  width: 1.8rem;
  height: 1.8rem;
}

.tasks .task.done .icon{
  fill: #4caf50;
}

.tasks .task.ongoing .icon{
  fill: #f27474;
}

.tasks .task.done {
  border-left-color: #f27474;
}

.tasks .task .icon.delete-icon{
  fill: #000000;
  right: 0;
}

.tasks .task.ongoing{
  border-left-color: #00b300;
}